@import '../../Styles/SFColors.module.scss';
@import '../../Styles/BodyCommon.module.scss';

.officerInformation {
  > header {
    margin-bottom: 12px;

    > h2 {
      margin: 0;
      line-height: 36px;
      letter-spacing: -0.02em;
    }

    .idNumber {
      margin: 0;
      line-height: 24px;
    }
  }

  .body {
    @include dataList;
  }

  &.isNightMode {
    .body {
      @include dataList(false);
    }
  }
}
