@import '../Styles/SFColors.module.scss';

@mixin dataList($lightTheme: true) {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .dataItem {
    display: flex;
    flex-direction: column;
    gap: 2px;

    label {
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      @if $lightTheme {
        color: $sf-grey-600;
      } @else {
        color: $sf-grey-400;
      }
    }

    a {
      text-decoration: none;
      word-break: break-all;
      font-weight: 500;
      line-height: 24px;

      @if $lightTheme {
        color: $sf-blue-500;
      } @else {
        color: $sf-blue-200;
      }
    }
  }
}
